<h1>Teams</h1>
<div class="row">
  <div class="well well-lg">
    Testing basic hasMany relationships
  </div>
</div>
<div class="row">
  {{#each}}
    <div class="col-lg-6 team">
      <h2>{{name}}</h2>
      <ol class="squad">
        {{#each squads}}
          <li>{{name}}</li>
        {{/each}}
      </ol>
    </div>
  {{/each}}
</div>