<h1>Squads</h1>
<div class="row">
  <div class="well well-lg">
    Testing basic belongsTo relationships
  </div>
</div>
<div class="row">
  {{#each}}
    <div class="col-lg-6 squad">
      <h2><span class="team-name">{{team.name}}</span> - <span class="squad-name">{{name}}</span></h2>
      <ol class="players">
        {{#each players}}
          <li>{{#link-to "player" id}}{{name}}{{/link-to}}</li>
        {{/each}}
      </ol>
    </div>
  {{/each}}
</div>