<h1>Squads</h1>
<div class="row">
  <div class="well well-lg">
    Testing basic belongsTo relationships
  </div>
</div>
<div class="row">
  {{#each}}
    <div class='col-lg-6'>
      <h2>{{team.name}} - {{name}}</h2>
      <ol>
        {{#each players}}
          <li>{{#link-to "player" id}}{{name}}{{/link-to}}</li>
        {{/each}}
      </ol>
    </div>
  {{/each}}
</div>