<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ember Mockjax</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Application</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Relationships</li>
            <li><a href="#">hasMany</a></li>
            <li><a href="#">belongsTo</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Modifiers</li>
            <li><a href="#">Async</a></li>
            <li><a href="#">Nested</a></li>
            <li><a href="#">Embedded</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="specs.html">Specs</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <h1>Ember Mockjax for Active Model Serializer</h1>
    <p>Emulates Rails Active Model Serializer Requests and Responses</p>
    <p>
      <a class="btn btn-lg btn-primary" href="https://github.com/kenelliott/ember-mockjax" role="button">Github Repo</a>
    </p>
  </div>
</div>