<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ember Mockjax</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Relationships</li>
            <li>{{#link-to "teams"}}hasMany{{/link-to}}</li>
            <li>{{#link-to "squads"}}belongsTo{{/link-to}}</li>
            <li class="divider"></li>
            <li class="dropdown-header">Modifiers</li>
            <li><a href="#">Async</a></li>
            <li>{{#link-to "players"}}Nested{{/link-to}}</li>
            <li><a href="#">Embedded</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="specs.html">Specs</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>