<h1>Ember Mockjax for Active Model Serializer</h1>
<p>Emulates Rails Active Model Serializer Requests and Responses</p>
<p>
  <a class="btn btn-lg btn-primary" href="https://github.com/kenelliott/ember-mockjax" role="button">Github Repo</a>
</p>